<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - To Do Application</title>
    <link rel="stylesheet" href="login.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="frame7185">
      <div class="frame7183">
        <div id="v01">
          <div id="title_caption_avatar">
            <div id="title">TO DO APP</div>
            <div id="caption">Stop Procrastinating , Start Organizing</div>
          </div>
          <br />
          <hr />
        </div>
        <div id="frame7184">
          <div id="login">Login</div>
          <form action="/login" method="POST">
            <div id="group6692">
              <div id="group6690">
                <div id="email">
                  <input
                    type="email"
                    required
                    placeholder="Email"
                    name="email"
                  />
                </div>
                <br />
                <div id="password">
                  <input
                    type="password"
                    name="password"
                    required
                    placeholder="Password"
                  />
                </div>
              </div>
              <div id="signup">
                Don't have an account yet?
                <span><a href="/register">Signup</a></span>
              </div>
              <div id="group6691">
                <input type="submit" name="submit" value="Login" />
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="notes">
        <% if (typeof passwordMessage !== 'undefined') { %>
        <br />
        <div id="password_message"><%= passwordMessage %></div>
        <% } %> <% if (typeof emailMessage !== 'undefined') { %>
        <br />
        <div id="email_message"><%= emailMessage %></div>
        <% } %> <% if (typeof message !== 'undefined') { %>
        <br />
        <div id="message"><%= message %></div>
        <% } %> <% if (typeof logout_message !== 'undefined') { %>
        <br />
        <div id="log_out_message"><%= logout_message %></div>
        <% } %> <% if (typeof msg !== 'undefined') { %>
        <br />
        <div id="msg"><%= msg %></div>
        <% } %>
      </div>
    </div>
  </body>
</html>
